<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css">
        <title>Impressora</title>
</head>
<header>
    <img src="/img/logoZabbix.png" alt="..." class="logoZabbix">
<div class="menu">
    <a href="/templates/index.html">Máquina</a>
    <a href="">Impressora</a>
</div>
</header>
<body>
    <section class="container">
        <form class="form">



            <label for="Nome" class="label">NOME DA IMPRESSORA</label>
            <input type="Nome" name="password" id="Nome"></span>
            <label for="Nome" class="label">NÚMERO DE SÉRIE IMPRESSORA</label>
            <input type="Nome" name="password" id="Nome"></span>
            <label for="Nome" class="label">NIVEL DE TINTA MONO</label>
            <input type="Nome" name="password" id="Nome"></span>
            <label for="Nome" class="label">NIVEL DE TINTA MAGENTA</label>
            <input type="Nome" name="password" id="Nome"></span>
            <label for="Nome" class="label">NÍVEL DE TINTA CIANO</label>
            <input type="Nome" name="password" id="Nome"></span>    
            <label for="Nome" class="label">NIVEL DE TINTA AMARELO</label>
            <input type="Nome" name="password" id="Nome"></span>  
            <label for="Nome" class="label">BILHETAGEM</label>
            <input type="Nome" name="password" id="Nome"></span>  


            
            <input class="submit" type="submit" value="Enviar">
            
          </form>
    </section>
    
</body>

<footer>
    <p>Desenvolvido por SMC STI</p>
</footer>
</html>